Repository gerrowadat/homelab: changes, and which Drone steps are due for each by the changed paths.
All: haproxy, prom-config, bind-dns-config, nginx-config

haproxy:
  steps:
  - name: verify-haproxy-config
    image: haproxy:2.7
    commands:
    - haproxy -f nomad/infra/web/haproxy.cfg -c

prom-config:
  steps:
  - name: verify-prometheus-config
    image: gerrowadat/docker-promtool
    commands:
    - promtool check config monitoring/prometheus.yml

bind-dns-config:
  steps:
  - name: verify-bind-dns-config
    image: ubuntu/bind9:latest
    commands:
    - rm -rf /etc/bind
    - ln -sf /drone/src/dns/etc-bind /etc/bind
    - named-checkconf -z /etc/bind/named.conf

nginx-config:
  steps:
  - name: verify-nginx-config
    image: nginx:latest
    commands:
    - openssl req -x509 -nodes -newkey rsa:2048 -days 9999 -keyout /tmp/dummy-privkey.pem -out /tmp/dummy-fullchain.pem -subj '/CN=localhost'
    - mkdir /secrets
    - ln -s /tmp/dummy-privkey.pem /secrets/home.andvari.net-privkey.pem
  ...

Remove out of date hardware list.
  README.md
Due: none

fix: correct host-side mount path in CI workflow
  .github/workflows/monitoring-validate.yml
Due: none

feat: add Nomad job memory and CPU resource alerts
  monitoring/nomad_resource_alerting_rules.yml
  monitoring/prometheus.yml
Due: prom-config

fix: reload prometheus config live via Nomad template file-watching
  CLAUDE.md
  nomad/monitoring/prometheus.hcl
Due: none

fix: revert file-watch approach, use glob for rule_files
  CLAUDE.md
  monitoring/prometheus.yml
  nomad/monitoring/prometheus.hcl
Due: prom-config

fix: remove newt from blackbox HTTP probe targets
  monitoring/prometheus.yml
Due: prom-config

feat: enable live /-/reload for all prometheus config changes
  CLAUDE.md
  nomad/monitoring/prometheus.hcl
  nomad/monitoring/prometheus_watch.sh
Due: none

fix: replace config-watcher sidecar with supervisor script
  CLAUDE.md
  nomad/monitoring/prometheus.hcl
  nomad/monitoring/prometheus_watch.sh
Due: none

fix: remove prometheus from webhook reload targets
  nomad/infra/homelab-webhook/webhook.py
Due: none

donkeh/bebop/rocksteady are no more.
  ansible/inventory.yml
Due: none

fix: remove donkeh, bebop, rocksteady from all configs
  ansible/README.md
  dns/README.md
  dns/etc-bind/db.100.168.192
  dns/etc-bind/db.home.andvari.net
  monitoring/prometheus.yml
Due: prom-config, bind-dns-config

docs: add rabbitseason to dns_server host lists
  ansible/README.md
  dns/README.md
Due: bind-dns-config

fix: migrate birdnet volume from tings-srv-nfs to rabbitseason-srv-nfs
  nomad/storage/volumes/birdnet.hcl
Due: none

fix: migrate mysql volume from tings-srv-nfs to rabbitseason-srv-nfs
  nomad/storage/volumes/mysql.hcl
Due: none

fix: migrate monitoring volume from tings-srv-nfs to rabbitseason-srv-nfs
  nomad/storage/volumes/monitoring.hcl
Due: none

fix: migrate gitrepo volume from tings-srv-nfs to rabbitseason-srv-nfs
  nomad/storage/volumes/gitrepo.hcl
Due: none

feat: migrate jellyfin to rabbitseason-srv-nfs, retire tings plugin
  nomad/storage/README.md
  nomad/storage/rocketduck-controller.hcl
  nomad/storage/rocketduck-node.hcl
  nomad/storage/volumes/jellyfin.hcl
Due: none

feat: add mosquitto CSI volume on rabbitseason-srv-nfs
  nomad/storage/volumes/mosquitto.hcl
Due: none

feat: migrate mosquitto from bind mount to CSI volume
  nomad/infra/mosquitto/mosquitto.hcl
Due: none

feat: migrate z2m from bind mount to CSI volume
  nomad/infra/z2m/z2m.hcl
  nomad/storage/volumes/z2m.hcl
Due: none

feat: migrate octoprint from bind mount to CSI volume
  nomad/apps/octoprint/octoprint.hcl
  nomad/storage/volumes/octoprint.hcl
Due: none

fix: remove hass job
  nomad/apps/README.md
  nomad/apps/hass/README.md
  nomad/apps/hass/hass.hcl
Due: none

fix: pin all Docker images to specific versions and update outdated tags
  nomad/apps/kutt/kutt.hcl
  nomad/apps/miniflux/miniflux.hcl
  nomad/apps/octoprint/octoprint.hcl
  nomad/infra/homelab-webhook/homelab-webhook.hcl
  nomad/infra/mysql/mysql.hcl
  nomad/infra/newt/newt.hcl
  nomad/infra/postfix-andvari-smarthost/postfix-andvari-smarthost.hcl
  nomad/infra/traefik/traefik.hcl
  nomad/infra/z2m/z2m.hcl
  nomad/monitoring/prom-alertmanager.hcl
  nomad/monitoring/prom-blackbox-exporter.hcl
  nomad/monitoring/prom-consul-exporter.hcl
  nomad/monitoring/prometheus.hcl
Due: none

feat: add NomadTaskFlapping alert for repeatedly restarting tasks
  monitoring/nomad_flapping_alerting_rules.yml
Due: prom-config

fix: remove tings NFS mounts from ansible
  ansible/inventory.yml
  ansible/roles/nfs_client/meta/main.yml
  ansible/roles/nfs_client/tasks/main.yml
  ansible/roles/node_exporter/README.md
Due: none

chore: spring clean docs and monitoring for decommissioned hosts
  ansible/README.md
  dns/etc-bind/db.100.168.192
  dns/etc-bind/db.home.andvari.net
  monitoring/prometheus.yml
Due: prom-config

feat: add check-databasus-backups.sh script
  scripts/README.md
  scripts/check-databasus-backups.sh
Due: none

fix: use 'nomad job allocs' to list databasus allocations
  scripts/check-databasus-backups.sh
Due: none

fix: match backup filenames by 'dbname-' prefix
  scripts/check-databasus-backups.sh
Due: none

Reduce min consul peers to 3.
  monitoring/consul_alerting_rules.yml
Due: prom-config

feat: add dump-nomad-vars.sh for encrypted variable backup/restore
  scripts/README.md
  scripts/dump-nomad-vars.sh
Due: none

feat: add reservation value and duration to memory over-reservation alert
  monitoring/nomad_resource_alerting_rules.yml
Due: prom-config

feat: reduce Grafana Synthetics quota usage
  terraform/grafana-sm/checks.tf
  terraform/grafana-sm/terraform.tfvars.example
  terraform/grafana-sm/variables.tf
Due: none

feat: add immich photo management job
  nomad/apps/README.md
  nomad/apps/immich/README.md
  nomad/apps/immich/immich.hcl
  nomad/infra/traefik/traefik.hcl
  nomad/storage/volumes/README.md
  nomad/storage/volumes/immich-db.hcl
  nomad/storage/volumes/immich-photos.hcl
Due: none

docs: remove hardcoded hostname from immich README
  nomad/apps/immich/README.md
Due: none

fix: put EOH heredoc terminator on its own line in traefik.hcl
  nomad/infra/traefik/traefik.hcl
Due: none

fix: correct immich postgres image tag
  nomad/apps/immich/README.md
  nomad/apps/immich/immich.hcl
Due: none

fix: start immich-db and immich-redis before immich-server
  nomad/apps/immich/immich.hcl
Due: none

fix: use 127.0.0.1 for intra-group service addresses in immich
  nomad/apps/immich/immich.hcl
Due: none

Path conditions:
  haproxy: any of: nomad/infra/web/*
  prom-config: any of: monitoring/*
  bind-dns-config: any of: dns/*
  nginx-config: any of: nomad/infra/web/*, cicd/web/*
