Repository gerrowadat/homelab: changes, and which Drone steps are due for each by the changed paths.
All: haproxy, prom-config, bind-dns-config, nginx-config

.drone.yml:

---
kind: pipeline
type: docker
name: haproxy

platform:
  os: linux
  arch: arm64

steps:
- name: verify-haproxy-config
  image: haproxy:2.7
  commands:
  - haproxy -f nomad/infra/web/haproxy.cfg -c
 
trigger:
  paths:
    include:
      "nomad/infra/web/*"

---
kind: pipeline
type: docker
name: prom-config

platform:
  os: linux

steps:
- name: verify-prometheus-config
  image: gerrowadat/docker-promtool
  commands:
  - promtool check config monitoring/prometheus.yml
 
trigger:
  paths:
    include:
      "monitoring/*"

---
kind: pipeline
type: docker
name: bind-dns-config

platform:
  os: linux

steps:
- name: verify-bind-dns-config
  image: ubuntu/bind9:latest
  commands:
  - rm -rf /etc/bind
  - ln -sf /drone/src/dns/etc-bind /etc/bind
  - named-checkconf -z /etc/bind/named.conf
 
trigger:
  paths:
    include:
      "dns/*"


---
kind: pipeline
type: docker
name: nginx-config

platform:
  os: linux

steps:
- name: verify-nginx-config
  image: nginx:latest
  commands:
  # Generate dummy SSL certs.
  - openssl req -x509 -nodes -newkey rsa:2048 -days 9999 -keyout /tmp/dummy-privkey.pem -out /tmp/dummy-fullchain.pem -subj '/CN=localhost'
  # ln the SSL certs we expect.
  - mkdir /secrets
  - ln -s /tmp/dummy-privkey.pem /secrets/home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-privkey.pem /secrets/drone.home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/home.andvari.net-fullchain.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/drone.home.andvari.net-fullchain.pem

  # dummy diffie-hellmann noise.
  - mkdir -p /etc/letsencrypt
  - openssl dhparam -out /etc/letsencrypt/ssl-dhparams.pem 2048

  # I guess this should exist.
  - touch /etc/letsencrypt/options-ssl-nginx.conf

  # Actually copy in our configs and run tests.
  - cp /drone/src/nomad/infra/web/default.conf /etc/nginx/conf.d/default.conf
  - mkdir /local
  - cp /drone/src/cicd/web/local-haproxy-upstreams.conf /local/local-haproxy-upstreams.conf
  - nginx -V -t 
 
trigger:
  paths:
    include:
      - "nomad/infra/web/*"
      - "cicd/web/*"

---
kind: signature
hmac: 522964b0a6bc1b3614a1af06eff016fa52eed2440c7b9970ffac2cfae9b8f782

...

Add rocksteady.
  ansible/inventory.yml
Due: none

Add k8scontrol, remove k8scontrolplane
  dns/home.andvari.net.zone
Due: bind-dns-config

Add Helm values and READMe for NFS storage classes.
  k8s/storage/README.md
  k8s/storage/fast-nfs.values
  k8s/storage/slow-nfs.values
  k8s/storage/testclaim.yaml
Due: none

Hello, Kubernetes.
  ansible/inventory.yml
  ansible/roles/k8s/meta/main.yml
  ansible/roles/k8s/tasks/main.yml
  ansible/roles/k8s/vars/main.yml
  ansible/site.yml
  k8s/notes.txt
Due: none

Gubbins for a dashboard user.
  k8s/apps/dashboard/dashboard-user.yaml
Due: none

Add wee script for helm-updating miniflux.
  k8s/apps/miniflux/update_miniflux.sh
Due: none

Add helm script for miniflux, and doc/etc. for nginx ingress.
  k8s/apps/miniflux/update_miniflux.sh
  k8s/infra/nginx-ingress/README.md
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
Due: none

Add BASE_URL so we don't need to rewrite in the ingress.
  k8s/apps/miniflux/update_miniflux.sh
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
Due: none

Revert "Add BASE_URL so we don't need to rewrite in the ingress."
  k8s/apps/miniflux/update_miniflux.sh
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
Due: none

Add redirect to cert-manager for acme challenges.
  nomad/infra/web/default.conf
  nomad/infra/web/haproxy.cfg
Due: haproxy, nginx-config

Cleanup old/new hosts.
  nomad/infra/web/haproxy.cfg
Due: haproxy, nginx-config

Add cluster TLS cert issuers, and docs on setting this up.
  k8s/infra/nginx-ingress/README.md
  k8s/infra/nginx-ingress/cluster-issuer-staging.yaml
  k8s/infra/nginx-ingress/cluster-issuer.yaml
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
Due: none

miniflux -> k8s
  nomad/infra/web/default.conf
  nomad/infra/web/haproxy.cfg
  nomad/infra/web/web.hcl
Due: haproxy, nginx-config

Clean up old backends.
  nomad/infra/web/haproxy.cfg
Due: haproxy, nginx-config

Miniflux nomad -> k8s (serious this time).
  nomad/apps/miniflux/miniflux.hcl
  nomad/infra/web/default.conf
Due: haproxy, nginx-config

hedwig no longer has an attached ups.
  nomad/infra/nut2mqtt/nut2mqtt.hcl
Due: none

Update miniflix ingreess
  k8s/apps/miniflux/update_miniflux.sh
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
Due: none

Add basic config for cringesweeper runing locally.
  k8s/apps/cringesweeper/cringesweeper.yaml
  k8s/apps/cringesweeper/gubbins.yaml
Due: none

Make prometheus go. Scrape cringesweeper.
  k8s/apps/cringesweeper/cringesweeper.yaml
  k8s/monitoring/install_prometheus.sh
Due: none

Install kube-prometheus-stack and enable servicemonitors for minikube.
  k8s/apps/miniflux/update_miniflux.sh
  k8s/monitoring/README.md
  k8s/monitoring/install_prometheus.sh
Due: none

Add servicemonitor for CS and remove scrape annotations
  k8s/apps/cringesweeper/cringesweeper.yaml
  k8s/apps/cringesweeper/gubbins.yaml
Due: none

Set fast-nfs as default storage class (for auto--provisioning).
  k8s/storage/fast-nfs.values
Due: none

Add mysql.
  k8s/infra/mysql/README.md
  k8s/infra/mysql/upgrade_mysql.sh
  k8s/infra/mysql/values.yaml
Due: none

Add birdnet-go.
  k8s/apps/birdnet/birdnet.yaml
  k8s/apps/birdnet/pvc.yaml
  k8s/apps/birdnet/service.yaml
Due: none

/birbs goes to k8s ingress.
  nomad/infra/web/haproxy.cfg
Due: haproxy, nginx-config

/birbs goes to birndet.
  nomad/infra/web/default.conf
Due: haproxy, nginx-config

Add k8svip and birbs.
  dns/home.andvari.net.zone
Due: bind-dns-config

Add ingress for birbs.home.andvari.net (birdnet-go)
  k8s/infra/nginx-ingress/birb-ingress.yaml
Due: none

Remove registry sync, add birbs.
  nomad/infra/letsencrypt-to-nomad-vars/letsencrypt-to-nomad-vars.hcl
Due: none

re-point birbs to external ip
  dns/home.andvari.net.zone
Due: bind-dns-config

Commission birbs.
  nomad/infra/web/default.conf
  nomad/infra/web/haproxy.cfg
  nomad/infra/web/web.hcl
Due: haproxy, nginx-config

Remove mailman and add a few bits.
  ansible/roles/publicsmtp/templates/postfix/main.cf.j2
Due: none

No more http on hooty.
  ansible/remote-inventory.yml
Due: none

Populate /etc/mailname
  ansible/roles/publicsmtp/tasks/main.yml
  ansible/roles/publicsmtp/templates/postfix/mailname.j2
Due: none

Add newt.
  nomad/infra/newt/newt.hcl
Due: none

Remove dyndns for home.andvari.net
  nomad/infra/dns/gcloud-dyndns.hcl
Due: none

Upgrade consul and nomad.
  ansible/inventory.yml
  ansible/roles/consul/templates/consul.hcl.j2
  ansible/roles/consul/vars/main.yml
  ansible/roles/nomad/vars/main.yml
Due: none

Add service block to postgres.
  nomad/infra/postgres/postgres.hcl
Due: none

Nothing here any more.
  nomad/infra/web/default.conf
Due: haproxy, nginx-config

Remove Drone.
  nomad/infra/drone/drone.hcl
Due: none
