Repository gerrowadat/homelab: changes, and which Drone steps are due for each by the changed paths.
All: haproxy, prom-config, bind-dns-config, nginx-config

.drone.yml:

---
kind: pipeline
type: docker
name: haproxy

platform:
  os: linux
  arch: arm64

steps:
- name: verify-haproxy-config
  image: haproxy:2.7
  commands:
  - haproxy -f nomad/infra/web/haproxy.cfg -c
 
trigger:
  paths:
    include:
      "nomad/infra/web/*"

---
kind: pipeline
type: docker
name: prom-config

platform:
  os: linux

steps:
- name: verify-prometheus-config
  image: gerrowadat/docker-promtool
  commands:
  - promtool check config monitoring/prometheus.yml
 
trigger:
  paths:
    include:
      "monitoring/*"

---
kind: pipeline
type: docker
name: bind-dns-config

platform:
  os: linux

steps:
- name: verify-bind-dns-config
  image: ubuntu/bind9:latest
  commands:
  - rm -rf /etc/bind
  - ln -sf /drone/src/dns/etc-bind /etc/bind
  - named-checkconf -z /etc/bind/named.conf
 
trigger:
  paths:
    include:
      "dns/*"


---
kind: pipeline
type: docker
name: nginx-config

platform:
  os: linux

steps:
- name: verify-nginx-config
  image: nginx:latest
  commands:
  # Generate dummy SSL certs.
  - openssl req -x509 -nodes -newkey rsa:2048 -days 9999 -keyout /tmp/dummy-privkey.pem -out /tmp/dummy-fullchain.pem -subj '/CN=localhost'
  # ln the SSL certs we expect.
  - mkdir /secrets
  - ln -s /tmp/dummy-privkey.pem /secrets/home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-privkey.pem /secrets/drone.home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/home.andvari.net-fullchain.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/drone.home.andvari.net-fullchain.pem

  # dummy diffie-hellmann noise.
  - mkdir -p /etc/letsencrypt
  - openssl dhparam -out /etc/letsencrypt/ssl-dhparams.pem 2048

  # I guess this should exist.
  - touch /etc/letsencrypt/options-ssl-nginx.conf

  # Actually copy in our configs and run tests.
  - cp /drone/src/nomad/infra/web/default.conf /etc/nginx/conf.d/default.conf
  - mkdir /local
  - cp /drone/src/cicd/web/local-haproxy-upstreams.conf /local/local-haproxy-upstreams.conf
  - nginx -V -t 
 
trigger:
  paths:
    include:
      - "nomad/infra/web/*"
      - "cicd/web/*"

---
kind: signature
hmac: 522964b0a6bc1b3614a1af06eff016fa52eed2440c7b9970ffac2cfae9b8f782

...

docs: remove stale references to nginx/certbot/web job
  cicd/README.md
  cicd/web/local-haproxy-upstreams.conf
  nomad/infra/README.md
  nomad/infra/traefik/README.md
Due: nginx-config

What even is this.
  cicd/README.md
  cicd/prometheus/Dockerfile
  cicd/prometheus/buildandpush.sh
  cicd/prometheus/run_test_locally.sh
Due: none

feat: push-triggered monitoring config reload via GitHub webhook
  .github/workflows/monitoring-validate.yml
  monitoring/README.md
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
  scripts/check-monitoring-configs.sh
Due: prom-config

fix: route monitoring-webhook via home.andvari.net path, not new hostname
  monitoring/README.md
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
  nomad/infra/traefik/traefik.hcl
Due: prom-config

fix: use consul service DNS for monitoring reload targets
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
Due: none

fix: add --entrypoint promtool to prometheus docker run
  .github/workflows/monitoring-validate.yml
  scripts/check-monitoring-configs.sh
Due: none

remove: pull-gitrepo and git-pull-homelab polling cron jobs
  nomad/cron/git-pull-homelab.hcl
  nomad/cron/pull-gitrepo.hcl
Due: none

No more cron jobs.
  nomad/cron/README.md
Due: none

Add targets for node exporter
  monitoring/prometheus.yml
Due: prom-config

fix: use consul service addresses in monitoring configs
  monitoring/prometheus.yml
  nomad/infra/nut2mqtt/nut2mqtt.hcl
Due: prom-config

fix: run monitoring-webhook as nobody to match gitrepo file ownership
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
Due: none

fix: move user = nobody to task level (not docker config block)
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
Due: none

fix: use su-exec to drop to nobody after apk install
  nomad/infra/monitoring-webhook/monitoring-webhook.hcl
Due: none

Add new hosts to ping tests
  monitoring/prometheus.yml
Due: prom-config

fix: add missing service stanza to prom-alertmanager
  nomad/monitoring/prom-alertmanager.hcl
Due: none

docs: add CLAUDE.md with repo layout and working conventions
  CLAUDE.md
Due: none

fix: correct alertmanager config filename (prom-alertmanager.yml)
  nomad/monitoring/prom-alertmanager.hcl
Due: none

dns: add missing PTR records for bebop and rocksteady
  dns/etc-bind/db.100.168.192
  dns/etc-bind/db.110.168.192
Due: none

dns: remove PTR records with no corresponding A record
  dns/etc-bind/db.100.168.192
Due: none

docs: add dns/README.md with zone change workflow
  dns/README.md
Due: bind-dns-config

fix: copy dns zone files from local repo, not /things/homelab
  ansible/roles/dns_server/tasks/main.yml
  dns/README.md
Due: bind-dns-config

Probe /rss/
  monitoring/prometheus.yml
Due: prom-config

remove: external zone file and upload script from dns/
  dns/README.md
  dns/home.andvari.net.zone
  dns/upload_home.sh
Due: bind-dns-config

monitoring: tidy prometheus config, add consul service probes
  monitoring/blackbox_alerting_rules.yml
  monitoring/prometheus.yml
Due: prom-config

monitoring: add availability probes for miniflux, mosquitto, mysql, postgres, newt, z2m
  monitoring/blackbox_alerting_rules.yml
  monitoring/prom-blackbox-exporter.yml
  monitoring/prometheus.yml
  nomad/infra/newt/newt.hcl
  nomad/infra/z2m/z2m.hcl
Due: prom-config

remove: grafana job and references
  monitoring/prometheus.yml
  nomad/monitoring/README.md
  nomad/monitoring/grafana.hcl
Due: prom-config

fix: use consul address for alertmanager smarthost
  monitoring/prom-alertmanager.yml
  nomad/monitoring/prom-alertmanager.hcl
Due: prom-config

Remove random port messign about.
  nomad/apps/miniflux/miniflux.hcl
  nomad/infra/traefik/traefik.hcl
Due: none

feat: trust Docker bridge IPs for X-Forwarded-For in Traefik entrypoints
  nomad/infra/traefik/traefik.hcl
Due: none

fix: also trust homelab LAN subnet for forwarded headers
  nomad/infra/traefik/traefik.hcl
Due: none

fix: switch to proxyProtocol (not forwardedHeaders) for Pangolin real IP
  nomad/infra/traefik/traefik.hcl
Due: none

fix: revert to forwardedHeaders -- Pangolin does SSL termination (Layer 7)
  nomad/infra/traefik/traefik.hcl
Due: none

debug: enable access logging with X-Forwarded-For header capture
  nomad/infra/traefik/traefik.hcl
Due: none

fix: add ipStrategy to internal-only middleware to use forwarded IP
  nomad/infra/traefik/traefik.hcl
Due: none

feat: allow home IP in internal-only middleware via Nomad variable
  nomad/infra/traefik/traefik.hcl
Due: none

Allow miniflux outside.
  nomad/infra/traefik/traefik.hcl
Due: none

chore: remove debug access logging from Traefik
  nomad/infra/traefik/traefik.hcl
Due: none

fix: use consul addresses for prometheus/alertmanager external URLs
  nomad/monitoring/prom-alertmanager.hcl
  nomad/monitoring/prometheus.hcl
Due: none

docs: update READMEs to reflect current state
  monitoring/README.md
  nomad/README.md
  nomad/infra/README.md
  nomad/infra/traefik/README.md
  nomad/monitoring/README.md
Due: prom-config

Add basic diff script for nomad jobs.
  scripts/nomad-diff.sh
Due: none
