Repository gerrowadat/homelab: changes, and which Drone steps are due for each by the changed paths.
All: haproxy, prom-config, bind-dns-config, nginx-config

.drone.yml:

---
kind: pipeline
type: docker
name: haproxy

platform:
  os: linux
  arch: arm64

steps:
- name: verify-haproxy-config
  image: haproxy:2.7
  commands:
  - haproxy -f nomad/infra/web/haproxy.cfg -c
 
trigger:
  paths:
    include:
      "nomad/infra/web/*"

---
kind: pipeline
type: docker
name: prom-config

platform:
  os: linux

steps:
- name: verify-prometheus-config
  image: gerrowadat/docker-promtool
  commands:
  - promtool check config monitoring/prometheus.yml
 
trigger:
  paths:
    include:
      "monitoring/*"

---
kind: pipeline
type: docker
name: bind-dns-config

platform:
  os: linux

steps:
- name: verify-bind-dns-config
  image: ubuntu/bind9:latest
  commands:
  - rm -rf /etc/bind
  - ln -sf /drone/src/dns/etc-bind /etc/bind
  - named-checkconf -z /etc/bind/named.conf
 
trigger:
  paths:
    include:
      "dns/*"


---
kind: pipeline
type: docker
name: nginx-config

platform:
  os: linux

steps:
- name: verify-nginx-config
  image: nginx:latest
  commands:
  # Generate dummy SSL certs.
  - openssl req -x509 -nodes -newkey rsa:2048 -days 9999 -keyout /tmp/dummy-privkey.pem -out /tmp/dummy-fullchain.pem -subj '/CN=localhost'
  # ln the SSL certs we expect.
  - mkdir /secrets
  - ln -s /tmp/dummy-privkey.pem /secrets/home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-privkey.pem /secrets/drone.home.andvari.net-privkey.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/home.andvari.net-fullchain.pem
  - ln -s /tmp/dummy-fullchain.pem /secrets/drone.home.andvari.net-fullchain.pem

  # dummy diffie-hellmann noise.
  - mkdir -p /etc/letsencrypt
  - openssl dhparam -out /etc/letsencrypt/ssl-dhparams.pem 2048

  # I guess this should exist.
  - touch /etc/letsencrypt/options-ssl-nginx.conf

  # Actually copy in our configs and run tests.
  - cp /drone/src/nomad/infra/web/default.conf /etc/nginx/conf.d/default.conf
  - mkdir /local
  - cp /drone/src/cicd/web/local-haproxy-upstreams.conf /local/local-haproxy-upstreams.conf
  - nginx -V -t 
 
trigger:
  paths:
    include:
      - "nomad/infra/web/*"
      - "cicd/web/*"

---
kind: signature
hmac: 522964b0a6bc1b3614a1af06eff016fa52eed2440c7b9970ffac2cfae9b8f782

...

Rescue miniflux from k8s
  k8s/apps/miniflux/update_miniflux.sh
  nomad/apps/miniflux/miniflux.hcl
  nomad/infra/web/default.conf
  nomad/infra/web/haproxy.cfg
Due: haproxy, nginx-config

donkeh k8s -> nomad
  ansible/inventory.yml
Due: none

Birdnet k8s -> nomad.
  k8s/apps/birdnet/birdnet.yaml
  k8s/apps/birdnet/pvc.yaml
  k8s/apps/birdnet/service.yaml
  nomad/apps/birdnet/birdnet.hcl
  nomad/infra/web/default.conf
  nomad/storage/volumes/birdnet.hcl
Due: haproxy, nginx-config

nginx grew better capability for dns names in upstreams, so haproxy now goes away.
  nomad/infra/web/default.conf
  nomad/infra/web/haproxy.cfg
  nomad/infra/web/update-configs.sh
  nomad/infra/web/web.hcl
Due: haproxy, nginx-config

Set up postsrsd for mail forwards to keep gmail happy enough accept mail at all.
  ansible/roles/publicsmtp/tasks/main.yml
  ansible/roles/publicsmtp/templates/postfix/main.cf.j2
  ansible/roles/publicsmtp/templates/postsrsd/etc-default-postsrsd.j2
Due: none

Export alloc/node telemetry.
  ansible/roles/nomad/files/nomad.hcl
Due: none

Add jellyfin volume.
  nomad/storage/volumes/jellyfin.hcl
Due: none

Switch internal service addresses from *.home.andvari.net to consul DNS
  ansible/inventory.yml
  k8s/infra/newt/update_miniflux.sh
  nomad/infra/dns/gcloud-nomaddns.hcl
  nomad/infra/nomad-dns-exporter/nomad-dns-exporter.hcl
  nomad/infra/nut2mqtt/nut2mqtt.hcl
Due: none

Remove docker registry references and k8s/newt configs
  ansible/inventory.yml
  ansible/roles/docker/templates/daemon.json.j2
  backpack.sh
  dns/etc-bind/db.home.andvari.net
  dns/home.andvari.net.zone
  k8s/infra/newt/update_miniflux.sh
  nomad/infra/letsencrypt-to-nomad-vars/letsencrypt-to-nomad-vars.hcl
Due: bind-dns-config

Re-add local DNs server hosts, remove login from dns server deps.
  ansible/inventory.yml
  ansible/roles/dns_server/meta/main.yml
Due: none

Enable consul service DNS resolution for all Nomad Docker tasks
  ansible/inventory.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/templates/daemon.json.j2
  ansible/roles/nomad/files/nomad.hcl
Due: none

Remove remaining registry proxy references from backpack.sh
  backpack.sh
Due: none

Add rabbitseason to dns
  ansible/inventory.yml
Due: none

Consul task dns (#11)
  ansible/inventory.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/main.yml
  ansible/roles/docker/templates/daemon.json.j2
  ansible/roles/nomad/files/nomad.hcl
  backpack.sh
Due: none

Remove nomad-dns-exporter and gcloud-nomaddns
  backpack.sh
  dns/etc-bind/named.conf.local
  monitoring/prometheus.yml
  nomad/infra/dns/gcloud-nomaddns.hcl
  nomad/infra/nomad-dns-exporter/README.md
  nomad/infra/nomad-dns-exporter/nomad-dns-exporter.hcl
Due: prom-config

Update all Nomad job container images to latest stable versions.
  nomad/apps/giv_tcp/givtcp.hcl
  nomad/apps/hass/hass.hcl
  nomad/infra/mosquitto/mosquitto.conf
  nomad/infra/mosquitto/mosquitto.hcl
  nomad/infra/postgres/postgres.hcl
  nomad/infra/z2m/z2m.hcl
  nomad/monitoring/prometheus.hcl
  nomad/storage/rocketduck-controller.hcl
  nomad/storage/rocketduck-node.hcl
Due: none

Swpa donkeh in for rabbitseason to do SN 9It's in the nomad cluster so actually hasd a consul service to talk to).
  ansible/inventory.yml
Due: none

Clean up ansible: remove redundant playbooks and apt cache spam
  ansible/roles/dns_server/tasks/main.yml
  ansible/roles/k8s/tasks/main.yml
  ansible/roles/linux_aptlike/tasks/main.yml
  ansible/roles/nfs_client/tasks/main.yml
  ansible/roles/nomad/tasks/main.yml
  ansible/roles/ups/tasks/main.yml
  ansible/site-dns.yml
  ansible/site-nut.yml
  ansible/site-service_vip.yml
  ansible/site.yml
Due: none

Add MySQL volume.
  nomad/storage/volumes/mysql.hcl
Due: none

Add mysql nomad job backed by CSI 'mysql' volume
  nomad/infra/mysql/mysql.hcl
Due: none

Remove explicit DNS server config from nomad jobs
  nomad/apps/birdnet/birdnet.hcl
  nomad/apps/miniflux/miniflux.hcl
Due: none

Remove dns server entires.
  nomad/infra/mysql/mysql.hcl
Due: none

Move cringesweeper from k8s to nomad
  nomad/apps/cringesweeper/cringesweeper.hcl
Due: none

Add remove_k8s role, move bebop/rocksteady to nomad
  ansible/inventory.yml
  ansible/roles/remove_k8s/meta/main.yml
  ansible/roles/remove_k8s/tasks/main.yml
  ansible/site.yml
Due: none

remove_k8s: stop services and unmount before wiping dirs
  ansible/roles/remove_k8s/tasks/main.yml
Due: none

remove_k8s: gate on kubelet presence, fix unmount safety
  ansible/roles/remove_k8s/tasks/main.yml
Due: none

remove_k8s: enumerate and unmount kubelet mounts deepest-first
  ansible/roles/remove_k8s/tasks/main.yml
Due: none

remove_k8s: use /proc/mounts and rm -rf for kubelet dir
  ansible/roles/remove_k8s/tasks/main.yml
Due: none

Remove all k8s configs and references
  ansible/inventory.yml
  ansible/site.yml
  k8s/apps/cringesweeper/cringesweeper.yaml
  k8s/apps/cringesweeper/gubbins.yaml
  k8s/apps/dashboard/dashboard-user.yaml
  k8s/infra/mysql/README.md
  k8s/infra/mysql/upgrade_mysql.sh
  k8s/infra/mysql/values.yaml
  k8s/infra/nginx-ingress/README.md
  k8s/infra/nginx-ingress/birb-ingress.yaml
  k8s/infra/nginx-ingress/cluster-issuer-staging.yaml
  k8s/infra/nginx-ingress/cluster-issuer.yaml
  k8s/infra/nginx-ingress/miniflux-ingress.yaml
  k8s/monitoring/README.md
  k8s/notes.txt
  k8s/storage/README.md
  k8s/storage/fast-nfs.values
  k8s/storage/slow-nfs.values
  k8s/storage/testclaim.yaml
Due: none

Remove k8s ansible role
  ansible/roles/k8s/meta/main.yml
  ansible/roles/k8s/tasks/main.yml
  ansible/roles/k8s/vars/main.yml
Due: none

Add READMEs and inline comments throughout
  ansible/README.md
  ansible/roles/consul/templates/consul.hcl.j2
  ansible/roles/nomad/files/nomad.hcl
  cicd/README.md
  monitoring/README.md
  monitoring/prometheus.yml
  nomad/README.md
  nomad/apps/README.md
  nomad/apps/hass/hass.hcl
  nomad/apps/octoprint/octoprint.hcl
  nomad/cron/README.md
  nomad/infra/README.md
  nomad/infra/letsencrypt-to-nomad-vars/letsencrypt-to-nomad-vars.hcl
  nomad/infra/web/default.conf
  nomad/infra/web/web.hcl
  nomad/infra/z2m/z2m.hcl
  nomad/monitoring/README.md
  nomad/storage/README.md
Due: haproxy, prom-config, nginx-config

Remove all Drone CI references
  .drone.yml
  cicd/README.md
  cicd/web/local-haproxy-upstreams.conf
  dns/home.andvari.net.zone
  nomad/infra/letsencrypt-to-nomad-vars/letsencrypt-to-nomad-vars.hcl
Due: bind-dns-config, nginx-config

Replace nginx+certbot with Traefik for ingress and SSL
  nomad/acl/README.md
  nomad/acl/traefik-policy.hcl
  nomad/apps/birdnet/birdnet.hcl
  nomad/apps/miniflux/miniflux.hcl
  nomad/infra/README.md
  nomad/infra/certbot/certbot.hcl
  nomad/infra/letsencrypt-to-nomad-vars/letsencrypt-to-nomad-vars.hcl
  nomad/infra/traefik/README.md
  nomad/infra/traefik/traefik.hcl
  nomad/infra/web/default.conf
  nomad/infra/web/web.hcl
Due: haproxy, nginx-config

traefik: add file-provider routes for sonarr and radarr
  nomad/infra/traefik/README.md
  nomad/infra/traefik/traefik.hcl
Due: none

traefik: expand README with full ops playbook, update playbook.md
  nomad/infra/traefik/README.md
  playbook.md
Due: none

traefik: consolidate all path routes in dynamic.yml
  nomad/apps/miniflux/miniflux.hcl
  nomad/infra/traefik/traefik.hcl
Due: none

traefik: document and add policy for cloud_dns_key variable access
  nomad/acl/README.md
  nomad/acl/traefik-vars-policy.hcl
  nomad/infra/traefik/README.md
Due: none

traefik: store GCP credentials in nomad/jobs/traefik variable
  nomad/infra/traefik/README.md
  nomad/infra/traefik/traefik.hcl
Due: none

traefik: fix cert gen, dashboard port, and tidy README
  nomad/infra/traefik/README.md
  nomad/infra/traefik/traefik.hcl
Due: none

traefik: remove obsolete certbot and web (nginx) jobs
  nomad/infra/certbot/Dockerfile
  nomad/infra/certbot/README.md
  nomad/infra/certbot/buildandpush.sh
  nomad/infra/certbot/entrypoint.sh
  nomad/infra/web/update-configs.sh
Due: haproxy, nginx-config
